.resume-me-container {
    text-align: center;
    margin-bottom: 0px;
    /* margin-top: 70px; */
}
  
.resume-me-container h1 {
    margin-top: 20px;
    font-family: "Sofia", sans-serif;
  font-size: 50px;
}
.line-container {
    position: relative;
    width: 6cm;
    height: 2px;
    background-color: black;
    margin: 20px auto;
  }